.homepageBlocks {
    background: url("../img/homepage/block.jpg");
    background-repeat: no-repeat;
    background-color: $blue;
    .wrapper {
        @include clearfix;
    }
    .textWrap {
        padding: em(100) 0;
        padding-left: 3%;
        .text {
            line-height: em(26);
            padding: em(1) 0 em(50);
        }
    }
    .right {
        margin-left: 50%;
        color: #fff;
        background: $blue;
    }
}

.productIntro {
	padding-top: em(50);
    section {
        padding: em(42) 0 em(50);
        @include clearfix;
        &:nth-child(even) {
            background: #f9fafc;
        }
    }
    .btn {
        margin-left: 35px;
    }
    .pattern{
    	background: url('../img/simple_pattern.png');
    	background-repeat: repeat;
    	width: 100%;
    	height: em(162);
    	margin-bottom: em(25)
    }
    .item {
        border: 1px solid #e3e8f1;
        border-radius: 4px;
        background: #fff;
        img {
            vertical-align: middle;
            max-width: 100%;
        }
        .title {
            color: #40454f;
            font-size: em(21);
            text-align: center;
            padding: em(21, 18) 0;
        }
    }
}

.iconsBlock{
	text-align: center;
	border-top: 1px solid #e5e5e5;
	padding:em(20) 0 em(80);
	.heading{
		padding: em(20) 0;
		@include headings(){
			color:#454545;
		}
	}
	.item{
		border: 1px solid #e5e5e5;
		padding: em(40) em(10);
		.icon{
			color:$green;
			font-size: em(82);
			margin: em(30,82) 0;
		}
		.title{
			color:#424242;
			font-size: em(19);
			padding:em(15) 0;
			font-family: $medium;
		}
		.text{
			font-size: em(14);
			color:#858484;
		}
	}
}
.servicesBlocks{
	text-align: center;
	background-image: url('../img/green_pattern.jpg');
	padding:em(50) 0 em(30);
	.heading{
		color:#fff;
	}
	.baseGrid{
		padding: em(30) 0;
	}
	.item{
		display: inline-block;
		background: #fff;
		margin-bottom: em(21);
		.title{
			font-family: $book;
			font-weight: 400;
			font-size:em(16);
			color:#585f6c;
			display: inline-block;
			padding: em(14,16) 0;
		}
		img{
			vertical-align: middle;
		}
	}
}