<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

    <meta charset="utf-8" >
    <meta name="description" content="{{app.getMetaDescription}}" >
    <meta name="keywords" content="{{app.getMetaKeywords}}" >
    <meta name="theme-color" content="#FF881E ">
    <base href="{{tplAssets}}"/>
    <title>{{app.getMetaTitle}}</title>
	 
	<link rel="stylesheet" href="assets/css/app.css">
    {{extraStyles}}
    <script>
        ROOTADR = '{{ROOTADR}}';
    </script>
</head>