<!DOCTYPE html>
<html lang="pl">
{% include 'tpl/layouts/components/head.twig' %}
<body>
	{% include "tpl/partials/header.twig" %}
	{% block topContent %}{% endblock %}
	{% block contentView %}{% endblock %}
	{% include "tpl/partials/footer.twig" %}
     
	{% from 'tpl/macros/session_messages.twig' import session %}
	{{ session(flashes) }}
	{% include 'tpl/layouts/components/tail.twig' %}
</body>
</html>


