<!DOCTYPE html>
<html lang="pl" class="no-js">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

	<meta charset="utf-8" >
	<meta name="description" content="" >
	<meta name="keywords" content="" >
	<meta name="theme-color" content="#FFF">
	<title>{{title}}</title>
	<base href="{{tplAssets}}"/>

	{% if dev %}
		{% include "styles.html" %}
	{% else %}
		{% include "styles.min.html" %}
	{% endif %}

</head>
<body>
	{% include "tpl/components/header.html" %}
	{% block content %}{% endblock %}
	{% include "tpl/components/footer.html" %}

	{% if dev %}
		{% include "scripts.html" %}
	{% else %}
		{% include "scripts.min.html" %}
	{% endif %}
</body>
</html>