.relative { position: relative; }
.overflow { overflow: hidden; }
.tableHelper { display: table;table-layout: fixed; width: 100%; height: 100% }
.cellHelper { display: table-cell; width: 100%; height: 100%; vertical-align: middle; }