header{
	.top{
		@include clearfix;
	}
	.logotype{
		vertical-align: middle;
		display: inline-block;
		img{
			vertical-align: middle;
		}
	}
	.intro{
		vertical-align: middle;
		color:#a5adba;
		font-size: em(15);
	}
	.cart{
		@include clearfix;
		border: 1px solid #d8d8d8;
		border-radius: 21px;
		position: relative;
		margin: em(30) 0px;
		display: block;
		.text{
			float:left;
			padding: 9px 26px;
			padding-right: 70px;
			display: inline-block;
			.val{
				color:$blue;
				font-family: $medium;
			}
		}
		i{
			float:right;
			background: $green;
			height: 43px;
			width: 43px;
			display: inline-block;
			color:#fff;
			font-size: 18px;
			line-height: 42px;
			text-align: center;
			border-radius: 50%;
			vertical-align: middle;
			position: relative;
			right: -1px;
			top: -1px;
			position: absolute;
		}
	}
	nav{
		background: #f3f6f9;
		ul{
			@include reset;
			display: flex;
			padding: em(18) 0;
			li{
				flex: 1 0 auto;
				text-align: center;
				display: inline-block;
				border-right: 1px solid #cbddff;
				&:last-child{
					border-right: none;
				}
				a{
					text-transform: uppercase;
					color:#2e3646;
					font-size: em(12.5);
					i{
						vertical-align: middle;
						color:$blue;
					}
				}
			}
		}
	}
}