<footer>
	<div class="top">
		<div class="wrapper first">
			<div class="wrapper">
				<div class="col">
					<div class="heading">
						<h3>Kim jesteśmy?</h3>
					</div>
					<div class="text">
						<p>
						Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent.	
						</p>
					</div>
				</div>

				<div class="col">
					<div class="heading">
						<h3>Zgłoś potrzebę</h3>
					</div>
					<div class="text">
						<p>
							Napisz nam czego nie znalazłeś na stronie a poinformujemy Cię gdy tylko będziemy mieć Pożądane produkty
						</p>
					</div>
				</div>

				<div class="col">
					<div class="heading">
						<h3>Zobacz więcej</h3>
					</div>
					<nav>
						<ul>
							<li><a href="">Regulaminy</a></li>
							<li><a href="">Blog</a></li>
							<li><a href="">FAQ</a></li>
							<li><a href="">Kontakt</a></li>
							<li><a href="">Newsletter</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom">
		<div class="wrapper first">
			<div class="wrapper">
				<div class="left">
					Copyrights ( C ) 2015 strona zbiorcza <br>
					wszelkie prawa zastrzeżone
				</div>
				<div class="right">
					Realizacja: <a href="http://www.intellect.pl">Intellect.pl</a>
				</div>
			</div>
		</div>
	</div>
</footer>