<header>
	<div class="top">
		<div class="wrapper first">
			<div class="wrapper">
				<div class="left">
					<a href="" class="logotype">
						<img src="assets/img/logotype.jpg" alt="">
					</a>
					<span class="intro">
						Wynajmij meble dla Twojego biura!
					</span>
				</div>
				<div class="right">
					<a class="cart" href="">
						<div class="text">
							Twój koszyk: <span class="val">2 999,00 <small class="currency">PLN</small></span>
						</div>
						<i class="icon icon-buy10"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<nav>
		<div class="wrapper first">
			<div class="wrapper">
				<ul>
					<li><a href="">Oferta Wynajmu</a></li>
					<li><a href="">Oferta Wykupu</a></li>
					<li><a href="">Realizacje</a></li>
					<li><a href="">Blog</a></li>
					<li><a href=""><i class="icon icon-user7"></i>  Twoje Konto</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>