// {{comment}}

@font-face {
  font-family: "{{fontName}}";
    src: url('{{fontPath}}/{{fontName}}.eot'); /* IE9 Compat Modes */
    src: url('{{fontPath}}/{{fontName}}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('{{fontPath}}/{{fontName}}.woff2') format('woff2'), /* Super Modern Browsers */
         url('{{fontPath}}/{{fontName}}.woff') format('woff'), /* Pretty Modern Browsers */
         url('{{fontPath}}/{{fontName}}.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('{{fontPath}}/{{fontName}}.svg#{{fontName}}') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}


.icon {
      font-family:"{{fontName}}";
      display:inline-block;
      vertical-align:middle;
      line-height:1;
      font-weight:normal;
      font-style:normal;
      speak:none;
      text-decoration:inherit;
      text-transform:none;
      text-rendering:auto;
      -webkit-font-smoothing:antialiased;
      -moz-osx-font-smoothing:grayscale;
    }


{% for icon in icons -%}

.icon-{{icon.name}}:before {
  content:"\{{icon.code}}";
}

{% endfor %}
