<header class="header">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <nav class="nav">
                <ul class="menu">
                    <li><a href="#">One</a></li>
                    <li><a href="#">Two</a></li>
                    <li><a href="#">Three</a></li>
                    <li><a href="#">Four</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>