html,body {
	box-sizing: border-box;
}
*,*:before,*:after {
	outline: none !important;
	box-sizing: inherit;
}
body {
	font-family: $base-font;
	font-size: $em-base;
	font-weight: $base-font-weight;
	color:$base-color;
	line-height: 1.2em;
}
.wrapper {
	width: 92%;
	margin: 0px auto;
}
.wrapper.first{
	max-width: 1305px;
	width: 100%;
}
a { 
	color: inherit;
	text-decoration: inherit;
}
.clearfix{
	@include clearfix;
}

.slick-slide img{
	display: inline-block;
}