/* 
	SETTINGS
	you should set it before start project
 */

// Layout
$global-width: 1200px;
$global-radius: 0;
$wrapperPercentWidth: 92%; // (if you use wrapper boxed layout)

// Typography
$body-font-color: #000;
$global-font-size: 16px;
$global-weight-normal: 400;
$global-weight-bold: 700;
$global-lineheight: 1.5;
$body-font-family: 'Open Sans', Arial, sans-serif;
$header-sizes: (
    small: (
      'h1': 24,
      'h2': 20,
      'h3': 19,
      'h4': 18,
      'h5': 17,
      'h6': 16,
    ),
    medium: (
      'h1': 48,
      'h2': 40,
      'h3': 31,
      'h4': 25,
      'h5': 20,
      'h6': 16,
    ),
);

// Colors
$foundation-palette: (
    primary: #2199e8,
    secondary: #777,
    success: #3adb76,
    warning: #ffae00,
    alert: #ec5840,
);
$white:#fff;


// Breakpoints
$breakpoint-classes: (small phone medium tablet large xlarge);

$breakpoints: (
    small: 0,
    phone: 450px,
    medium: 640px,
    tablet: 768px,
    large: 1024px,
    xlarge: 1200px,
    xxlarge: 1440px,
  );



$input-box-shadow: 0;